@mixin cent {
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact {
  background: var(--color0);
  z-index: 4;
  display: none;

  #contact_title {
    position: absolute;
    top: 2%;
    left: 1em;
    color: #000;
    font-size: 0.9em;
    font-weight: 900;
    text-shadow: 1px 0px 0px rgba(0, 0, 0, 1);
    z-index: 10;
    filter: url(#shad);
  }

  .contact_container_flex {
    height: 100%;
    width: 100%;
    @include cent;
    align-items: center;

    .contact_container {
      @include cent;
      flex-direction: column;
      align-items: center;
      line-height: 3.2em;
      font-family: "Notable", sans-serif;
      z-index: 3;
      a {
        text-decoration: none;
      }
      .contact_cart {
        cursor: pointer;
        font-size: 4em;
        font-stretch: condensed;
        color: var(--color0);
        @include cent;
        filter: url(#shad);
        &:hover {
          color: var(--colorX);
          z-index: 40;
        }
      }
      .contact_cart:nth-child(1) {
        left: 20%;
      }
      .contact_cart:nth-child(2) {
        left: -10%;
      }
      .contact_cart:nth-child(3) {
        left: 15%;
      }
      .contact_cart:nth-child(4) {
        left: -20%;
      }
      .contact_cart:nth-child(5) {
        left: 10%;
      }
      .contact_cart:nth-child(6) {
        left: -35%;
      }
    }

    .contact_cart_info {
      @include cent;
      color: var(--color0);
      background-color: var(--colorX);
      font-size: 0.6em;
      border: 0.3em var(--colorX) solid;
      border-radius: 0.1em;
      opacity: 0.1;
      transition: all 1s;
      position: absolute;
      user-select: none;
    }
    .contact_cart_info:nth-child(2) {
      top: 50%;
      left: 55%;
    }
    .contact_cart_info:nth-child(3) {
      top: 50%;
      left: 15%;
    }
    .contact_cart_info:nth-child(4) {
      top: 64%;
      left: 25%;
    }
    .contact_cart_info:nth-child(5) {
      top: 72%;
      left: 45%;
    }
    .contact_cart_info:nth-child(6) {
      top: 20%;
      left: 65%;
    }
    .contact_cart_info:nth-child(7) {
      top: 56%;
      left: 75%;
    }
    .contact_cart_info:nth-child(8) {
      top: 35%;
      left: 35%;
    }
  }
}
