@mixin cent {
  display: flex;
  justify-content: center;
  align-items: center;
}
#designe {
  background: var(--color0);
  z-index: 1;
  display: none;

  #designe_title {
    position: absolute;
    top: 2%;
    left: 1em;
    color: #000;
    font-size: 0.9em;
    font-weight: 900;
    text-shadow: 1px 0px 0px rgba(0, 0, 0, 1);
    z-index: 10;
    filter: url(#shad);
  }
  .designe_container {
    width: 100%;
    height: 100%;
    @include cent;
    flex-wrap: wrap;
    .designe_overlay {
      margin: auto;
      margin-top: 5%;
      width: 90%;
      height: 55%;
      background-color: var(--color0);
      border-radius: 0.5em;
      box-shadow: $shadow0;
      overflow: hidden;
      .courente_designe {
        width: 55%;
        height: 96%;
        margin: 1%;
        background-image: url(images/NewConverse2.jpg);
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    .all_designes_container {
      margin: auto;
      margin-top: 2%;
      width: 100%;
      height: 20%;
      @include cent;
      .designes_slider_container {
        width: 83%;
        height: 100%;
        overflow: hidden;
        .designes_movers {
          width: 170em;
          height: 100%;
          @include cent;
          left: -7px;
          transition-duration: 1s;
          .one_designe {
            width: 17em;
            height: 90%;
            margin: auto;
            background-image: url(images/Laern-To-Code-Now2.jpg);
            background-size: 80%;
            background-position: center;
            background-repeat: no-repeat;
            transform: scale(1);
            &:hover {
              transform: scale(1.1);
            }
          }
          .one_designe:nth-child(2) {
            background-image: url(images/NewConverse2.jpg);
          }
          .one_designe:nth-child(3) {
            background-image: url(images/Typographi2.jpg);
          }
          .one_designe:nth-child(4) {
            background-image: url(images/PAPE.jpg);
          }
        }
      }

      .designe_nav {
        background: var(--color0);
        border-radius: 0em 0.5em 0.5em 0em;
        width: 3em;
        height: 100%;
        @include cent;
        box-shadow: $shadow0;
        ion-icon {
          cursor: pointer;
          font-size: 2em;
          &:hover {
            font-size: 3em;
          }
          &:active {
            font-size: 2em;
          }
        }
      }
      .designe_nav:nth-child(1) {
        border-radius: 0.5em 0em 0em 0.5em;
      }
    }
  }
}
