@mixin cent {
  display: flex;
  justify-content: center;
  align-items: center;
}
#designe {
  background: var(--color0);
  z-index: 1;
  display: none;

  #designe_title {
    position: absolute;
    top: 2%;
    left: 1em;
    color: #000;
    font-size: 0.9em;
    font-weight: 900;
    text-shadow: 1px 0px 0px rgba(0, 0, 0, 1);
    z-index: 10;
    filter: url(#shad);
  }

  .designe_container{
    width: 100%;
    height: 95%;
    background: salmon;
    margin-top: 5%;
    .network_container{
      position: absolute;
      height: 20%;
      top: 30%;
      right:  0%;
      width: 3em;
      background: seagreen;
    }
  }

}
