@mixin cent {
  display: flex;
  justify-content: center;
  align-items: center;
}
#work {
  background-color: var(--color0);
  z-index: 1;
  display: none;
  #work_navbar {
    top: 3%;
    left: 55%;
    width: 40%;
    max-width: 50em;
    height: 2.5em;
    font-size: 0.8em;
    max-height: 3em;
    background: var(--color_worck_navba);
    box-shadow: 3px 5px 54px rgba(0, 0, 0, 0.1);
    border-radius: 0.2em;
    z-index: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .work_tabs {
      width: 20%;
      height: 85%;
      border-radius: 0.2em;
      @include cent;
      font-size: 0.7em;
      font-weight: 600;
      cursor: pointer;
      &:hover {
        background: var(--colorX);
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
        color: var(--color0);
      }
      &:active {
        transform: scale(0.9);
      }
    }
  }
  .active_tab {
    background: var(--colorX);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    color: var(--color0);
  }
  #work_title {
    position: absolute;
    top: 2%;
    left: 1em;
    font-size: 0.9em;
    color: #000;
    font-weight: 900;
    text-shadow: 1px 0px 0px rgba(0, 0, 0, 1);
    z-index: 10;
    filter: url(#shad);
  }
  .web_work {
    position: absolute;
    top: 18vh;
    left: -100%;
    width: 90%;
    height: 70%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 5%;
    grid-row-gap: 20%;
    grid-template-rows: 40% 40%;
    opacity: 1;
    transition: 1s;
    z-index: 3;
    &::after {
      content: "";
      position: absolute;
      top: var(--stufs_top);
      left: var(--stufs_left);
      transform: scale(var(--stufs_dimensions));
      width: 2em;
      height: 2em;
      background-color: var(--colorX);
      border-radius: 50%;
      opacity: var(--stufs_opacity);
      transition: transform 1s, opacity 1s;
      z-index: 3;
    }
    .stuffs_contain {
      @include cent;
      z-index: 3;
    }
    .stuffs {
      width: 14em;
      height: 10em;
      background-color: var(--colorX);
      border: 0.2em var(--colorX) solid;
      border-radius: 0.2em;
      box-shadow: 0px 0.5px 24px rgba(0, 0, 0, 0.2);
      z-index: 2;
      cursor: pointer;
      &:hover {
        z-index: 4;
        transform: scale(1.05);
      }
      &:hover .stuffs_img_interne {
        background-size: 110%;
      }

      &:hover .stuffs_img::before {
        top: 100%;
      }

      &:active {
        transform: scale(0.9);
      }

      // ###########################################
      .stuffs_img {
        width: 100%;
        height: 80%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100%;
        background: var(--color0);
        overflow: hidden;
        transition: transform 0.5s, filter 0.5s;

        &::before {
          content: "";
          position: absolute;
          top: -100%;
          left: 0%;
          width: 100%;
          height: 100%;
          background: var(--colorX);
          opacity: 0.3;
          z-index: 3;
          transition: top 0.6s;
        }
      }

      .stuffs_title {
        display: block;
        width: 40%;
        margin-top: 4%;
        margin-left: 0.3em;
        font-size: 0.8em;
        color: var(--color0);
        &::before {
          content: "";
          position: absolute;
          bottom: -10%;
          width: 40%;
          height: 5%;
          background: var(--color0);
        }
      }
    }

    .stuffs1 {
      grid-column: 1;
      grid-row: 1;
    }
    .stuffs2 {
      grid-column: 2;
      grid-row: 1;
    }
    .stuffs3 {
      grid-column: 3;
      grid-row: 1;
    }
    .stuffs4 {
      grid-column: 1;
      grid-row: 2;
    }
    .stuffs5 {
      grid-column: 2;
      grid-row: 2;
    }
    .stuffs6 {
      grid-column: 3;
      grid-row: 2;
    }
    // #################################
  }
  #pres_invi {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 30;
    .presantation {
      top: 0;
      left: 0;
      background: var(--color0);
      // background: red;
      width: 35em;
      height: 30em;
      border-radius: 0.2em;
      box-shadow: 0px 0.5px 24px rgba(0, 0, 0, 0.2);
      transition: transform 0.5s;
      border: 0.3em var(--color0) solid;
      border-top: 0.3em var(--color0) solid;
      #close_pres {
        position: absolute;
        top: -2%;
        left: -2%;
        width: 1.2em;
        height: 1.1em;
        z-index: 2;
        border-radius: 0.1em;
        box-shadow: 0px 0.5px 24px rgba(0, 0, 0, 0.2);
        background-color: var(--color0);
        color: #000;
        font-size: 1em;
        cursor: pointer;
        @include cent;

        &:hover {
          opacity: 1;
          transform: scale(1.1);
          background: var(--color0);
        }
        &:active {
          transform: scale(1);
        }
      }
      .presantation_img {
        width: 100%;
        height: 67%;
        margin: auto;
        background-size: 100%;
        background-repeat: no-repeat;
        overflow: hidden;
        border-radius: 0.2em;
        // background: var(--colorX);
      }
      .moovingContainer {
        transform: translateX(0);
        height: 100%;
        display: flex;
        transition: 0.3s;
      }

      #theSliders {
        position: absolute;
        right: -2%;
        bottom: 30%;
        width: 4em;
        height: 1.7em;
        display: flex;
        background: var(--color0);
        overflow: hidden;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
        border-radius: 0.1em;

        &::after {
          content: "";
          position: absolute;
          top: 5%;
          left: 50%;
          width: 1px;
          height: 90%;
          background-color: rgba(0, 0, 0, 0.2);
        }

        div {
          width: 50%;
          height: 100%;
          color: #222;
          text-align: center;
          font-size: 1.7em;
          cursor: pointer;
          &:hover {
            transform: scale(1.1);
          }
          &:active {
            transform: scale(1);
          }
        }
        .invisibel {
          opacity: 0.2;
          pointer-events: none;
        }
      }

      #pres_title {
        display: block;
        width: 40%;
        margin-top: 2%;
        margin-left: 0.3em;
        font-size: 1.5em;
        font-weight: 900;

        &::before {
          content: "";
          position: absolute;
          bottom: -10%;
          width: 40%;
          height: 5%;
          background-color: #000;
        }
      }
      p {
        font-size: 0.7em;
        display: block;
        width: 50%;
        margin-top: 2%;
        margin-left: 1em;
        font-size: 0.7em;
        font-weight: 900;
      }
      #link {
        position: absolute;
        bottom: 5%;
        width: 100%;
        @include cent;
        &:hover {
          transform: scale(1.05);
        }
        &:active {
          transform: scale(1);
        }

        a {
          text-decoration: none;
        }
        h2 {
          display: block;
          background: var(--colorX);
          color: var(--color0);
          font-size: 0.7em;
          font-size: 0.6em;
          font-weight: 900;
          border: 0.5em var(--colorX) solid;
          border-radius: 0.3em;
          box-shadow: $shadow0;
          user-select: none;
        }
      }
    }
  }
  .stuffs_img_interne {
    width: 100%;
    height: 102%;
    grid-column: 1;
    grid-row: 1;
    background-size: 102%;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
    transition: background-size 1s;
    overflow: hidden;
  }
  .stuffs_img1a {
    background-image: url(images/website1.png);
    z-index: 1;
    display: block;
  }
  .stuffs_img1b {
    background-image: url(images/website1.png);
  }
  .stuffs_img1c {
    background-image: url(images/website1.png);
  }
  .stuffs_img1d {
    background-image: url(images/website1.png);
  }
  .stuffs_img1e {
    background-image: url(images/website1.png);
  }
  // ###############################################
  .stuffs_img2a {
    background-image: url(images/website2.jpg);
    z-index: 1;
    display: block;
  }
  .stuffs_img2b {
    background-image: url(images/website2.png);
  }
  .stuffs_img2c {
    background-image: url(images/website2.png);
  }
  .stuffs_img2d {
    background-image: url(images/website2.png);
  }
  .stuffs_img2e {
    background-image: url(images/website2.png);
  }
  // ###############################################

  .stuffs_img3a {
    background-image: url(images/website3.png);
    z-index: 1;
    display: block;
  }
  .stuffs_img3b {
    background-image: url(images/website3.jpg);
  }
  .stuffs_img3c {
    background-image: url(images/website3.jpg);
  }
  .stuffs_img3d {
    background-image: url(images/website3.jpg);
  }
  .stuffs_img3e {
    background-image: url(images/website3.jpg);
  }
  // ###############################################
  .stuffs_img4a {
    background-image: url(images/website4.png);
    z-index: 1;
    display: block;
  }
  .stuffs_img4b {
    background-image: url(images/website4.jpg);
  }
  .stuffs_img4c {
    background-image: url(images/website4.jpg);
  }
  .stuffs_img4d {
    background-image: url(images/website4.jpg);
  }
  .stuffs_img4e {
    background-image: url(images/website4.jpg);
  }
  // ###############################################
  .stuffs_img5a {
    background-image: url(images/website5.png);
    z-index: 1;
    display: block;
  }
  .stuffs_img5b {
    background-image: url(images/website5.gif);
  }
  .stuffs_img5c {
    background-image: url(images/website5.gif);
  }
  .stuffs_img5d {
    background-image: url(images/website5.gif);
  }
  .stuffs_img5e {
    background-image: url(images/website5.gif);
  }
  // ###############################################
  .stuffs_img6a {
    background-image: url(images/website6.png);
    z-index: 1;
    display: block;
  }
  .stuffs_img6b {
    background-image: url(images/website6.jpg);
  }
  .stuffs_img6c {
    background-image: url(images/website6.jpg);
  }
  .stuffs_img6d {
    background-image: url(images/website6.jpg);
  }
  .stuffs_img6e {
    background-image: url(images/website6.jpg);
  }
  .mobile_work {
    position: absolute;
    top: 110%;
    left: 0%;
    width: 100%;
    height: 100%;
    @include cent;
    flex-wrap: wrap;
    opacity: 1;
    overflow: hidden;
    // overflow: scroll;
    transition: 1s;
    z-index: 2;

    &::-webkit-scrollbar {
      display: none;
    }
    &::after {
      content: "";
      position: absolute;
      top: var(--mobile_stufs_top);
      left: var(--mobile_stufs_left);
      transform: scale(var(--mobile_stufs_dimensions));
      width: 1em;
      height: 1em;
      background-color: var(--colorX);
      border-radius: 50%;
      opacity: var(--mobile_stufs_opacity);
      transition: transform 1s, opacity 1s;
      z-index: 3;
    }
    .mobiles {
      cursor: pointer;
      max-width: 14em;
      width: 12em;
      height: 25em;
      // background: #222;
      // border: 0.2em var(--colorX) solid;
      border-radius: 0.2em;
      margin: 5%;
      margin-top: 3em;
      box-shadow: 0px 0.5px 24px rgba(0, 0, 0, 0.2);
      background-size: 150%;
      background-position: center;
      background-repeat: no-repeat;
      z-index: 1;
      transform: scale(1);
      filter: grayscale(100%);
      // transition: all 1s;
      &:hover {
        transform: scale(1.06);
        filter: grayscale(0%);
      }
      &:active {
        transform: scale(1);
      }
      &:hover .mobiles_title,
      &:hover .creation_date {
        opacity: 0;
      }
      .mobiles_title,
      .creation_date {
        position: absolute;
        width: 5em;
        height: 1.2em;
        bottom: -4%;
        left: 64%;
        background: var(--colorX);
        box-shadow: 0px 0.5px 24px rgba(24, 21, 21, 0.2);
        @include cent;
        justify-content: flex-start;
        border-radius: 0.1em;
        opacity: 1;
        transition: opacity 0.3s;
        h1 {
          color: var(--color0);
          font-size: 0.8em;
          margin-left: 5%;
          &::after {
            position: absolute;
            content: "";
            width: 50%;
            height: 4%;
            background: var(--color0);
            bottom: -4%;
            left: 0%;
          }
        }
      }
      .creation_date {
        width: 3em;
        height: 1em;
        bottom: -7.4%;
        left: 60%;
        background: rgba(0, 0, 0, 0.3);
        justify-content: center;
        border-radius: 0.1em;
        h1 {
          font-size: 0.6em;
          margin-left: 0%;
          color: #fff;
          &::after {
            background: transparent;
          }
        }
      }
      .mobiles_description {
        display: none;
      }
    }
    .mobiles1 {
      background-image: url(images/Screenshot_20200922-182024.png);
      background-size: 100%;
    }
    .mobiles2 {
      background-image: url(images/8af15509f80a6109b8051df2c3bd04d1.jpg);
      margin-top: 5em;
      .mobiles_title {
        top: -3%;
        left: -7%;
      }
      .creation_date {
        top: 1.2%;
        left: 20%;
      }
    }
    .mobiles3 {
      background-image: url(images/48325806467331c03c99e98fda4a0cd4.jpg);
      .mobiles_title {
        bottom: 13%;
        left: 95%;
      }
      .creation_date {
        bottom: 10%;
        left: 99%;
      }
    }
    #mobiles_pres_invi {
      position: absolute;
      width: 57em;
      height: 30em;
      background: var(--color0);
      box-shadow: 0px 0.5px 24px rgba(0, 0, 0, 0.2);
      z-index: 44;
      border-radius: 0.2em;
      @include cent;
      display: none;
      .close_mobiles_pres_invi {
        position: absolute;
        top: -1%;
        left: -1%;
        width: 1.2em;
        height: 1.1em;
        z-index: 2;
        border-radius: 0.1em;
        box-shadow: 0px 0.5px 24px rgba(0, 0, 0, 0.2);
        background-color: var(--color0);
        color: var(--colorX);
        font-size: 1em;
        cursor: pointer;
        @include cent;
        &:hover {
          opacity: 1;
          transform: scale(1.1);
          background: var(--color0);
        }
        &:active {
          transform: scale(1);
        }
      }
      .mobiles_pres_image_container {
        width: 50%;
        height: 100%;
        border-radius: 0.2em 0em 0em 0.2em;

        .mobiles_image {
          cursor: pointer;
          position: absolute;
          top: 14%;
          left: 25%;
          width: 45%;
          height: 80%;
          border-radius: 0.2em;
          box-shadow: 0px 0.5px 24px rgba(0, 0, 0, 0.2);
          background-size: 100%;
          background-position: center;
          background-repeat: no-repeat;
          transition: transform 0.6s, top 0.6s, filter 0.6s;
          filter: grayscale(100%);

          &:hover {
            filter: grayscale(0%);
            transform: scale(1);
          }
        }

        .mobiles_image:nth-child(1) {
          z-index: 2;
          transform: rotate(10deg) scale(1);
          &:hover {
            transform: rotate(0deg) scale(1);
          }
        }

        .mobiles_image:nth-child(2) {
          top: 10%;
          left: 45%;
          transform: rotate(20deg);
          &:hover {
            transform: rotate(0deg) scale(1);
          }
        }

        .mobiles_image:nth-child(3) {
          top: 5%;
          left: 10%;
          transform: rotate(-20deg);
          &:hover {
            transform: rotate(0deg) scale(1);
          }
        }
      }
      .mobiles_pres_description_container {
        width: 50%;
        height: 100%;
        border-radius: 0em 0.2em 0.2em 0em;
        @include cent;
        flex-wrap: wrap;
        align-items: flex-end;
        padding-bottom: 5%;
        padding-right: 3%;
        div {
          width: 100%;
          @include cent;
          flex-wrap: wrap;
          .mobiles_pres_title {
            width: 100%;
          }
          .mobiles_pres_description {
            width: 100%;
            font-size: 0.7em;
          }

          .techno_use {
            width: 100%;
            height: 2em;
            @include cent;
            justify-content: flex-start;
            flex-wrap: wrap;
            margin-top: 1em;
            .techno {
              width: 2em;
              height: 2em;
              // background: salmon;
              margin-left: 0.5em;
            }
          }
          .go_to_project {
            width: 100%;
            height: 1.5em;
            margin-top: 0.5em;
            // background: salmon;
            .go_to_project_btn {
              cursor: pointer;
              position: absolute;
              right: -10%;
              bottom: -15%;
              width: 8em;
              height: 1.5em;
              color: var(--colorX);
              font-weight: 900;
              padding: 0.5em;
              border-radius: 0.2em;
              font-size: 0.7em;
              background: var(--color0);
              box-shadow: 0px 0.5px 24px rgba(0, 0, 0, 0.2);
              -webkit-user-select: none;
              &:hover {
                transform: scale(1.1);
              }
              &:active {
                transform: scale(1);
              }
              a {
                text-decoration: none;
                color: var(--colorX);
              }
            }
          }
        }
      }
    }
  }
  .preso_work {
    position: absolute;
    top: 0%;
    left: 110%;
    width: 100%;
    height: 100%;
    @include cent;
    flex-wrap: wrap;
    opacity: 1;
    transition: 1s;
    background: gray;
  }
  // ######################
  .web_work_visible {
    transition-delay: 0.4s;
    left: 5%;
  }
  .mobile_work_visible {
    transition-delay: 0.4s;
    top: 0%;
  }
  .preso_work_visible {
    transition-delay: 0.4s;
    left: 0%;
  }
}
